dist
node_modules
.env*
!.env.example
yarn.lock
.vscode
coverage

src/controllers/waiter-router.ts
src/controllers/waiter-controller.ts
src/controllers/waiter-service.ts
src/controllers/waiter-repository.ts

tests/factory/waiter-factory.ts
tests/integration/waiter.test.ts